.header {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  border-bottom: 1px solid #ccc;
  height: 50px;
}

.link {
  text-decoration: none;
  display: block;
  padding: 10px 5px 5px 5px;
  border: 1px solid transparent;

  &:hover {
    color: teal;
    border-bottom: 1px dashed teal;
  }

  &:visited {
    color: inherit;
  }
}

.active {
  color: red;
}
