.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.title {
  font-size: 1.3rem;
  font-weight: 500;
  display: flex;
}

.sort {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  min-width: 30px;

  &:hover {
    cursor: pointer;
    background-color: #ccc;
  }
}

.sort-desc {
  transform: rotate(180deg);
}

.sort-asc {
  transform: rotate(0deg);
}
